.rounded-circle {
    position: absolute;
    bottom: 15px;
    right: 25px;
    width: 45px;
    height: 45px;
    padding: 6px 0px;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
}

.list-group-item.active {
    background-color: rgb(49, 49, 180);
}

.list-group-item-action:hover {
    background-color: rgb(26, 26, 195);
    color: white;
}

.important {
    color : red;
}

.sposAlto {
    padding-top : 2%;
}

.darkMode {
    background-color: black;
    color: white;
}